@media(min-width:750px){
    main{
        width: 75rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 1rem;
    }

    .about__div{
        grid-column: 1 / span 2;
        padding: 4rem;
    }

    .rate__div{
        grid-column: 1 / span 1;
        padding: 4rem;
    }

    .whyUs__div{
        grid-column: 2 / span 1;
        padding: 4rem;
    }

    .padding{
        padding: 4rem;
    }
}